.screen {
  background-color: aquamarine;
  width: 100vw;
  height: auto;
  font-size: 32px;
  text-align: center;
}

@media (max-width: 430px) {
  .screen {
    background-color: rgb(38, 221, 14);
    width: 100vw;
    height: auto;
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 20px;
  }
}

@media (min-width: 1000px) {
  .screen {
    background-color: rgb(88, 24, 161);
    width: 100vw;
    height: auto;
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
    border: 2px solid rgb(240, 236, 5);
    border-radius: 20px;
    color: white;
  }
}
