:root {
  --primary-color: #ce4b4b;
  --font-size: 50px;
  --text-size: 24px;
  --border: 2px solid black;
  --border-radius: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: var(--font-size);
}

p {
  font-size: var(--text-size);
}

h1,
h2 {
  border: var(--border);
  border-radius: var(--border-radius);
}
